<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>我的首页</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
	<div class="container">
		<a class="navbar-brand" href="#">Yaf and Bootstrap</a>
		<a class="navbar-brand" style="float:right;font-size:13px;" href="#">登录</a>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<div class="list-group">
				<a style="border:none;" class="list-group-item">分类<span class="badge">1</span></a>
				<a style="border:none;" class="list-group-item">分类<span class="badge">1</span></a>
				<a style="border:none;" class="list-group-item">分类<span class="badge">1</span></a>
				<a style="border:none;" class="list-group-item">分类<span class="badge">1</span></a>
				<a style="border:none;" class="list-group-item">分类<span class="badge">1</span></a>
			</div>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-7 text-left">
			<h1 class="h1">文章内容</h1>
			<div>
				<span class="glyphicon glyphicon-time" style="font-size:10px;">2016-01-01</span>
				<span class="glyphicon glyphicon-user" style="font-size:10px;">admin</span>
				<span class="glyphicon glyphicon-comment" style="font-size:10px;">1条评论</span>
				<a class="glyphicon glyphicon-pencil" style="font-size:10px;">编辑</a>
			</div>
			<div id="content" style="margin-top:30px; font-size:18px;">
				文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
			</div>
			<div id="others" style="margin-top:30px;">
				<a href=""><<上一篇</a>
				<a href="">下一篇>></a>
			</div>
			<div id="comment" class="container-fulid" style="margin-top:50px">
				<h3>评论</h3>
				<div style="margin-top:30px;">
					<span class="col-md-1">
						<img  src="/images/pic.png" class="img-circle image-responsive"  alt="">
					</span>
					<div class="col-md-11">
						<div>
							<b>admin</b> 
							<p class="small">2016-10-10&nbsp;13:13&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-pencil">编辑</span> </p>
						</div>
						<div>
							<p>good article</p>
							<p><a style="margin-right:3px;text-decoration:none;" class="glyphicon glyphicon-comment"></a>回复</p>
						</div>
					</div>
				</div>
				<div style="margin-top:30px;">
					<span class="col-md-1">
						<img  src="/images/pic.png" class="img-circle image-responsive"  alt="">
					</span>
					<div class="col-md-11">
						<div>
							<b>admin</b> 
							<p class="small">2016-10-10&nbsp;13:13&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-pencil">编辑</span> </p>
						</div>
						<div>
							<p>good article</p>
							<p><a style="margin-right:3px;text-decoration:none;" class="glyphicon glyphicon-comment"></a>回复</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="footer" class="">
	<div class="row">
		<p class="text-center">版权所有：&copy;dzhy</p>
	</div>
</div>
</body>
</html>
